

.learning-demo canvas {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #999999;
  box-shadow: 0px 0px 5px #999;

}

#centerproc{
	text-align: center;

}

#inner {
    width: 50%;
    margin: 0 auto;
}

#centered {
  width: 1000px ;
  margin-left: auto ;
  margin-right: auto ;
}

.tweet_list {
  border-radius: 0.5em;
  margin: 0;
  overflow-y: hidden;
  background-color: #E0E0E0;
}

ul.tweet_list li,ul.tweet_list li:hover {
  color: #404040;
}

.tweet_list li {
  padding: 0.5em;
}

.tweet_list .tweet_even {
  background-color: #EFEFEF;
}

.tweet_list .tweet_avatar {
  padding-right: .5em; float: left;
}